*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body{
  background: rgb(9,90,121);
background: linear-gradient(90deg, rgba(9,90,121,1) 0%, rgba(5,2,0,1) 0%, rgba(15,18,19,1) 100%, rgba(45,48,48,1) 100%);
}

